
#LAB-01

# dependencies
lab-01/node_modules
lab-01/.pnp
lab-01/.pnp.js
lab-01/.yarn/install-state.gz

# testing
lab-01/coverage

# next.js
lab-01/.next/
lab-01/out/

# production
lab-01/build

# misc
lab-01/.DS_Store
lab-01/*.pem

# debug
lab-01/npm-debug.log*
lab-01/yarn-debug.log*
lab-01/yarn-error.log*

# local env files
lab-01/.env*.local

# vercel
lab-01/.vercel

# typescript
lab-01/*.tsbuildinfo
lab-01/next-env.d.ts

#LAB-02

# dependencies
lab-02/node_modules
lab-02/.pnp
lab-02/.pnp.js
lab-02/.yarn/install-state.gz

# testing
lab-02/coverage

# next.js
lab-02/.next/
lab-02/out/

# production
lab-02/build

# misc
lab-02/.DS_Store
lab-02/*.pem

# debug
lab-02/npm-debug.log*
lab-02/yarn-debug.log*
lab-02/yarn-error.log*

# local env files
lab-02/.env*.local

# vercel
lab-02/.vercel

# typescript
lab-02/*.tsbuildinfo
lab-02/next-env.d.ts

#LAB-03

# dependencies
lab-03/node_modules
lab-03/.pnp
lab-03/.pnp.js
lab-03/.yarn/install-state.gz

# testing
lab-03/coverage

# next.js
lab-03/.next/
lab-03/out/

# production
lab-03/build

# misc
lab-03/.DS_Store
lab-03/*.pem

# debug
lab-03/npm-debug.log*
lab-03/yarn-debug.log*
lab-03/yarn-error.log*

# local env files
lab-03/.env*.local

# vercel
lab-03/.vercel

# typescript
lab-03/*.tsbuildinfo
lab-03/next-env.d.ts

#LAB-04

# dependencies
lab-04/node_modules
lab-04/.pnp
lab-04/.pnp.js
lab-04/.yarn/install-state.gz

# testing
lab-04/coverage

# next.js
lab-04/.next/
lab-04/out/

# production
lab-04/build

# misc
lab-04/.DS_Store
lab-04/*.pem

# debug
lab-04/npm-debug.log*
lab-04/yarn-debug.log*
lab-04/yarn-error.log*

# local env files
lab-04/.env*.local

# vercel
lab-04/.vercel

# typescript
lab-04/*.tsbuildinfo
lab-04/next-env.d.ts